# ==========================
# Python
# ==========================

ven/
venv/
.venv/
__pycache__/
*.py[cod]


# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/


# ==========================
# Environment
# ==========================

.env


# ==========================
# Raw Data
# ==========================

data/raw/


# ==========================
# Processed Data
# ==========================

data/processed/


# ==========================
# Analytics Outputs
# ==========================

data/analytics/

# ==========================
# Data
# ==========================

data/

# ==========================
# Models
# ==========================

models/
*.pkl
*.joblib


# ==========================
# Streamlit
# ==========================

.streamlit/


# ==========================
# Logs
# ==========================

*.log


# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Project Data
# ==========================

data/