# ======================
# Python
# ======================

__pycache__/
*.py[cod]
*$py.class


# ======================
# Virtual Environment
# ======================

venv/
.venv/


# ======================
# Environment
# ======================

.env


# ======================
# Large Data
# ======================

data/
models/


# ======================
# IDE
# ======================

.vscode/


# ======================
# Streamlit
# ======================

.streamlit/


# ======================
# Temporary
# ======================

*.log
.DS_Store
Thumbs.db