# ======================
# Python
# ======================

__pycache__/
*.py[cod]
*$py.class


# ======================
# Virtual Environment
# ======================

venv/
.venv/


# ======================
# Environment
# ======================

.env


# ======================
# Large Data
# ======================

data/
models/
# Ignore datasets
data/*

# Keep refresh timestamp for Streamlit
!data/last_refresh.txt

# ======================
# IDE
# ======================

.vscode/


# ======================
# Streamlit
# ======================

.streamlit/


# ======================
# Temporary
# ======================

*.log
.DS_Store
Thumbs.db